<footer class="bg-dark text-white mt-4">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-4">
                <h5><b>About Us</b></h5>
                <p>At Republic Poly, we strive to provide the greatest pre-order meal service possible. Our goal is to make sure you have access to great, convenient meals.</p>
            </div>
            <div class="col-md-4">
                <h5><b>Quick Links</b></h5>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white">Home</a></li>
                    <li><a href="/login" class="text-white">Login</a></li>
                    <li><a href="/contact" class="text-white">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5><b>Contact Us</b></h5>
                <p><i class="fas fa-envelope"></i> food@republicpoly@gmail.com</p>
                <p><i class="fas fa-phone"></i> +65 999999999</p>
                <div class="d-flex">
                    <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <hr class="bg-light">
        <div class="text-center">
            <p class="mb-0">&copy; 2024 Foods @RP  All Rights Reserved ©.</p>
        </div>
    </div>
</footer>
